@font-face {
	font-family: 'JF-Dot-MPlusH10B';
	src: url(./fonts/JF-Dot-MPlusH10B.ttf);
}
@font-face {
	font-family: 'JF-Dot-MPlusH12B';
	src: url(./fonts/JF-Dot-MPlusH12B.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JF-Dot-MPlusH10B';
  font-size: 105%;
}

* {
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

header,
main {
  width: 950px;
  max-width: 95%;
  margin: auto;
}

header {
  margin-top: 40px;
  margin-bottom: 20px;
}
header a,
header a:hover {
  color: inherit;
  text-decoration: inherit;
}

main {
  margin-bottom: 40px;
}

.content {
  font-family: 'JF-Dot-MPlusH12B';
  font-size: 85%;
  margin: 1.5rem auto !important;
}

.show-raw-button {
  margin-top: 22px;
  display: flex;
  justify-content: flex-end;
}

.raw {
  font-family: 'JF-Dot-MPlusH12B';
  font-size: 85%;
  padding: 22px;
}

.nes-field {
  margin: 10px 0;
}

.is-icon,
.is-icon > * {
  width: auto !important;
}

.hidden {
  display: none;
}
